<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('parts/head') %>
</head>
<body>

<%- include('parts/header') %>
<!-- END nav -->

<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
            <div class="row slider-text align-items-end">
                <div class="col-md-7 col-sm-12 ftco-animate mb-5">
                    <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
                    <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">

        <div class="row block-9">
            <div class="col-md-12 pr-md-12">
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ad">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Soyad">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Telefon">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="E-posta Adresi">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control " placeholder="Şifre">
                    </div>
                    <div class="form-group">
                        <select class="custom-select countrySelect">
                            <option selected>Ülke</option>
                            <% result = result.map(function(elem) {
                                return '<option value="' + elem.id + '">' + elem.name + '</option>';
                            }) -%>
                            <%- result.join(" | ") %>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="custom-select stateSelect">
                            <option selected>İl</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="custom-select citySelect">
                            <option selected>İlçe</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input tc-input" value="0" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            TC Vatandaşıyım
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input tc-input" value="1" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                        <label class="form-check-label" for="flexRadioDefault2">
                            TC Vatandaşı Değilim
                        </label>
                    </div>
                    <div class="form-group  open-tc">
                        <input type="text" class="form-control " placeholder="TC Kimlik Numarası">
                    </div>
                    <div class="form-group d-none open-not-tc">
                        <input type="text" class="form-control " placeholder="Kimlik Numarası">
                        <input type="text" class="form-control " placeholder="Ülke">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                        <label class="form-check-label" for="flexCheckIndeterminate">
                            Evet, Beyaz Asistan'nin yeni özellikleri ve verdikleri hizmetler hakkında bilgi almak istiyorum.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                        <label class="form-check-label" for="flexCheckIndeterminate">
                            * Uygulama Kullanım Koşullarını kabul ediyorum ve Kişisel Veri Gizlilik Politikası ve Aydınlatma Metni'nde belirtilen amaçlarla sınırlı olarak özel nitelikli verilerimin işlenmesini ve verilerimizin belirtilmiş olan yurtdışında bulunan taraflara aktarılmasına onay veriyorum.
                        </label>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Kayıt Ol
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<%- include('parts/footer') %>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

<!-- Modal -->
<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRequestLabel">Make an Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="form-group">
                        <!-- <label for="appointment_name" class="text-black">Full Name</label> -->
                        <input type="text" class="form-control" id="appointment_name" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <!-- <label for="appointment_email" class="text-black">Email</label> -->
                        <input type="text" class="form-control" id="appointment_email" placeholder="Email">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- <label for="appointment_date" class="text-black">Date</label> -->
                                <input type="text" class="form-control appointment_date" placeholder="Date">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- <label for="appointment_time" class="text-black">Time</label> -->
                                <input type="text" class="form-control appointment_time" placeholder="Time">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <!-- <label for="appointment_message" class="text-black">Message</label> -->
                        <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Make an Appointment" class="btn btn-primary">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Activasyon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="Activasyon Kodu"/>
            </div>
            <div class="modal-footer footer-flex">
                <p>300 sn</p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary">Onayla</button>
            </div>
        </div>
    </div>
</div>


<button type="button" id="firstLoadBtn" class="btn btn-primary d-none" data-toggle="modal" data-target="#firstLoad">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="firstLoad" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bilgilendirme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Sayın Üyemiz, <br><br>
                Sağlık ihtiyaçlarınız için size yardımcı olabilecek kuruluşların taleplerine ilişkin fiyat bilgilerini tarafınıza doğru bir şekilde iletebilmemiz için SİGORTA bilgilerinizi tam ve eksiksiz giriş yapmanızı ayrıca bu bilgilerde değişiklik oluştuğunda gerekli güncellemeyi sistemimiz üzerinden düzenlemenizi önemle bildiririz.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>
<script>
    document.querySelectorAll('.tc-input').forEach(item=> {
        item.addEventListener('click',function (e){

            if(this.value == 0){
                document.querySelector('.open-tc').classList.remove('d-none');
                document.querySelector('.open-not-tc').classList.add('d-none');
            }
            else if(this.value == 1){
                document.querySelector('.open-tc').classList.add('d-none');
                document.querySelector('.open-not-tc').classList.remove('d-none');
            }
        });
    });
    window.onload = function (){
        document.querySelector('#firstLoadBtn').click();
    }
    document.querySelector('.countrySelect').addEventListener('change', function (e){
        let countryId = this.value;

        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function() {
            if(this.readyState === 4) {

                console.log(this.responseText);
                var val = JSON.parse(this.responseText);
                if(val.status == "success"){
                    var template = "";
                    val.result = val.result.map(function(elem) {
                        return '<option value="' + elem.id + '">' + elem.name + '</option>';
                    })
                    template = val.result.join(" ");
                    document.querySelector('.stateSelect').innerHTML = template;
                }

            }
        });

        xhr.open("GET", "http://localhost:3001/register/getStates/" + countryId);

        xhr.send();
    })
</script>
</body>
</html>
