<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Beyaz<span>Asistan</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/appointment" class="nav-link">Randevu</a></li>
                <li class="nav-item"><a href="/offer" class="nav-link">Teklif</a></li>
                <!-- <li class="nav-item"><a href="/" class="nav-link">VIP Hizmetler</a></li> -->
                <li class="nav-item cta"><a href="/register" class="nav-link" ><span>Kayıt Ol</span></a></li>
                <li class="nav-item cta"><a href="/login" class="nav-link" ><span>Giriş Yap</span></a></li>
            </ul>
        </div>
    </div>
</nav>


