.check-tc{
    display:  flex;
    width: 50%;
}
.footer-flex{
    display: flex;
    align-items: baseline
}
.footer-flex > p {
    color: #002a80;
    padding: 5px;
    font-size: 15px;
}
.btn-randevu{
    color: #002a80;
    background: #fff;
}
.btn-randevu:hover{
    color: #002a80;
    background: #fff;
}
